<div class="control-group">
    <label for="ean_code" class="control-label">{__("my_first_addon.ean_code")}</label>
    <div class="controls">
        <input type="text" name="ean_code" id="ean_code" value="{$search.ean_code}" onfocus="this.select();"/>
    </div>
</div>